<!-- ABOUT ONE SECTION START -->
<div class="section-full p-t90 p-b50 bg-no-repeat bg-bottom-left bg-white"
     style="background-image:url('/images/background/building-bg.html');">
    <div class="about-section-11">
        <div class="container">
            <div class="section-content">
                <div class="row justify-content-center d-flex">

                    <div class="col-lg-6 col-md-12 m-b30">
                        <div class="about-section-11-right">
                            <!-- TITLE START-->
                            <div class="section-head left wt-small-separator-outer">
                                <div class="wt-small-separator site-text-primary">
                                    <div>Về chúng tôi</div>
                                </div>
                                <h2>Thương hiệu hàng đầu về đồ hộp và đông lạnh tại Việt Nam</h2>
                            </div>
                            <!-- TITLE END-->

                            <div class="about-one">
                                <p>
                                    Kiên Giang là một trong những vùng có trữ lượng khai thác thủy sản lớn nhất Việt Nam,
                                    với những điều kiện thuận lợi vốn có cùng với việc xã hội phát triển ngày nay. Thực
                                    phẩm đóng hộp dần trở thành sự lựa chọn phổ biến của mọi gia đình hiện nay với những
                                    tiện lợi, nhanh chóng, an toàn, tiết kiệm và dễ sử dụng.
                                    Với những điều kiện thuận lợi đó, nhà máy chế biến và đóng hộp thủy sản HƯƠNG GIANG
                                    SEAFOODS chúng tôi được đầu tư xây dựng năm 2009 và đưa vào hoạt động năm 2010. Vốn
                                    đầu tư lên đến 150 tỷ Việt Nam đồng.
                                </p>
                            </div>

                            <ul class="description-list p-b20">
                                <li><i class="fa fa-angle-right"></i>Chất lượng trên hết
                                </li>
                                <li><i class="fa fa-angle-right"></i>Trung thực - Đáng tin cậy
                                </li>
                                <li><i class="fa fa-angle-right"></i>Hương vị đặc trưng
                                </li>
                            </ul>

                            <a href="about-1.html" class="site-button site-btn-effect">Tìm hiểu thêm</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 m-b30 about-max-12-position">
                        <div class="about-max-12">
                            <span class="ipad-pencil"><img src="/images/home-11/background/ipad-pencil.png"
                                                           class="ipad-pencil-jump"></span>
                            <div class="ser-ipad-warp">
                                <span class="ser-ipad-cam"></span>
                                <div class="ser-ipad-pic" style="background-image:url(images/home-11/ipad-bg.png)">
                                    <div class="ser-ipad-overlay"></div>
                                    <a href="https://www.youtube.com/watch?v=c1XNqw2gSbU"
                                       class="mfp-video play-now-video">
                                        <i class="icon fa fa-play"></i>
                                        <span class="ripple"></span>
                                    </a>
                                </div>
                                <span class="ser-ipad-btn"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT ONE SECTION END -->
