<!-- INTRO SECTION START -->
<div class="section-full p-t90 p-b50 bg-gray">

    <div class="container">


        <!-- TITLE START-->
        <div class="section-head center  wt-small-separator-outer">
            <div class="wt-small-separator site-text-primary">
                <div>CÔNG TY TNHH MTV HƯƠNG GIANG</div>
            </div>
            <h2 class="wt-title">Dịch vụ của chúng tôi</h2>
        </div>
        <!-- TITLE END-->



        <div class="s-section">
            <div class="row">
                <!-- COLUMNS 1 -->
                <div class="col-lg-3 col-md-6  col-sm-6 m-b30">
                    <div class="service-icon-box-three shadow-bx text-center">

                        <div class="wt-icon-box-wraper circle-bg  scale-up-center">
                            <div class="icon-lg inline-icon">
                                <span class="icon-cell"><img src="/images/hgf/spice.png"></span>
                            </div>
                        </div>

                        <div class="service-icon-box-title">
                            <h4 class="wt-title"><a href="service-detail.html">Nước mắm</a></h4>
                        </div>

                        <div class="service-icon-box-content">
                            <p>Chúng tôi sản xuất và kinh doanh nước mắm và các chế phẩm từ nước mắm.</p>
                            <a href="service-detail.html" class="site-button-link site-text-primary">Chi tiết</a>
                        </div>

                    </div>
                </div>

                <!-- COLUMNS 2 -->
                <div class="col-lg-3 col-md-6  col-sm-6 m-b30">
                    <div class="service-icon-box-three shadow-bx text-center">

                        <div class="wt-icon-box-wraper circle-bg  scale-up-center">
                            <div class="icon-lg inline-icon">
                                <span class="icon-cell"><img src="/images/hgf/can.png"></span>
                            </div>
                        </div>

                        <div class="service-icon-box-title">
                            <h4 class="wt-title"><a href="service-detail.html">Đóng hộp</a></h4>
                        </div>

                        <div class="service-icon-box-content">
                            <p>Chúng tôi sản xuất, chế biến thực phẩm đóng hộp theo yêu cầu.</p>
                            <a href="service-detail.html" class="site-button-link site-text-primary">Chi tiết</a>
                        </div>

                    </div>
                </div>

                <!-- COLUMNS 3 -->
                <div class="col-lg-3 col-md-6  col-sm-6 m-b30">
                    <div class="service-icon-box-three shadow-bx text-center">

                        <div class="wt-icon-box-wraper circle-bg  scale-up-center">
                            <div class="icon-lg inline-icon">
                                <span class="icon-cell"><img src="/images/hgf/pet-food.png"></span>
                            </div>
                        </div>

                        <div class="service-icon-box-title">
                            <h4 class="wt-title"><a href="service-detail.html">Thực phẩm thú cưng</a></h4>
                        </div>

                        <div class="service-icon-box-content">
                            <p>Chúng tôi sản xuất, chế biến thực phẩm cho thú cưng với tiêu chuẩn Châu ÂU</p>
                            <a href="service-detail.html" class="site-button-link site-text-primary">Chi tiết</a>
                        </div>

                    </div>
                </div>


                <!-- COLUMNS 4 -->
                <div class="col-lg-3 col-md-6  col-sm-6 m-b30">
                    <div class="service-icon-box-three shadow-bx text-center">

                        <div class="wt-icon-box-wraper circle-bg  scale-up-center">
                            <div class="icon-lg inline-icon">
                                <span class="icon-cell"><img src="/images/hgf/canned-food.png"></span>
                            </div>
                        </div>

                        <div class="service-icon-box-title">
                            <h4 class="wt-title"><a href="service-detail.html">Thủy hải sản</a></h4>
                        </div>

                        <div class="service-icon-box-content">
                            <p>Sản xuất, chế biến các loại thủy hải sản xuất khẩu với các đối tác từ Châu Âu</p>
                            <a href="service-detail.html" class="site-button-link site-text-primary">Chi tiết</a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<!-- INTRO SECTION END -->
