<!-- BLOG SECTION START -->
<div class="blog-section section pt-100 pb-60">
    <div class="container">
        <div class="section-title text-center mb-70">
            <h4>mới nhất</h4>
            <h2>Giới thiệu Công trình</h2>
        </div>
        <div class="row">
            <!-- blog-item start -->
            <div class="col-lg-4 col-md-6 col-12 mb-8">
                <div class="blog-item">
                    <a class="image" href="#"><img src="/v1/img/blog/1.jpg" alt="Image"></a>
                    <div class="blog-dsc">
                        <span class="date">12 Jun 2022</span>
                        <h4 class="title"><a href="#">Khu căn hộ phức hợp Vinsmart City</a></h4>
                    </div>
                </div>
            </div>
            <!-- blog-item end -->
            <!-- blog-item start -->
            <div class="col-lg-4 col-md-6 col-12 mb-8">
                <div class="blog-item">
                    <a class="image" href="#"><img src="/v1/img/blog/2.jpg" alt="Image"></a>
                    <div class="blog-dsc">
                        <span class="date">12 Jun 2022</span>
                        <h4 class="title"><a href="#">Tu bổ căn hộ Imperia Garden</a></h4>
                    </div>
                </div>
            </div>
            <!-- blog-item end -->
            <!-- blog-item start -->
            <div class="col-lg-4 col-md-6 col-12 mb-8">
                <div class="blog-item">
                    <a class="image" href="#"><img src="/v1/img/blog/3.jpg" alt="Image"></a>
                    <div class="blog-dsc">
                        <span class="date">12 Jun 2022</span>
                        <h4 class="title"><a href="#">10 công trình tiêu biểu của Bhome.</a></h4>
                    </div>
                </div>
            </div>
            <!-- blog-item end -->
        </div>
    </div>
</div>
<!-- BLOG SECTION END -->
