<!-- SERVICES SECTION START -->
<div class="section-full  service-gallery-style1-wrapper">

    <div class="services-gallery-block-outer">
        <div class="container half-wide-bg-outer p-t90 p-b50 ">
            <div class="half-wide-bg"></div>
            <div class="section-content">
                <div class="row">

                    <div class="col-lg-4 col-md-12 m-b30">

                        <!-- TITLE START-->
                        <div class="section-head left wt-small-separator-outer text-white">
                            <div class="wt-small-separator site-text-white">
                                <div>Sản phẩm tiêu biểu</div>
                            </div>
                            <h2 class="wt-title">Hướng đến chất lượng tốt nhất.</h2>
                            <p>Mục tiêu của chúng tôi hướng đến hợp tác toàn diện với đối tác, luôn luôn trung thực, và
                                cam kết chất lượng</p>

                            <a href="about-1.html" class="site-button-secondry site-btn-effect">Chi tiết</a>

                        </div>
                        <!-- TITLE END-->


                    </div>

                    <div class="col-lg-8 col-md-12">
                        <div class="services-gallery-style2">
                            <div class="owl-carousel services-gallery-two owl-btn-vertical-center ">

                                <!-- COLUMNS 1 -->
                                <div class="item ">
                                    <div class="service-box-style2">
                                        <div class="service-media">
                                            <img src="/images/hgf/cahop.jpg" alt="">
                                        </div>
                                        <div class="service-content">
                                            <h3 class="service-title-large">
                                                <a href="/">
                                                    Cá ngừ Sardine Sốt Cà CANFIVI
                                                </a>
                                            </h3>
                                            <p>You can dream, create, design and build the most wonderful place in the
                                                world.</p>
                                            <a href="service-detail.html" class="site-button site-btn-effect">View
                                                All</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- COLUMNS 2 -->
                                <div class="item ">
                                    <div class="service-box-style2">
                                        <div class="service-media">
                                            <img src="/images/hgf/ca-ngu-ngam-dau.png" alt="">
                                        </div>
                                        <div class="service-content">
                                            <h3 class="service-title-large">
                                                <a href="service-detail.html">
                                                    Cá ngừ ngâm dầu CANFIVI
                                                </a>
                                            </h3>
                                            <p>You can dream, create, design and build the most wonderful place in the
                                                world.</p>
                                            <a href="service-detail.html" class="site-button site-btn-effect">View
                                                All</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- COLUMNS 3 -->
                                <div class="item ">
                                    <div class="service-box-style2">
                                        <div class="service-media">
                                            <img src="/images/hgf/ca-sadine-sot-ca.png" alt="">
                                        </div>
                                        <div class="service-content">
                                            <h3 class="service-title-large"><a href="service-detail.html">
                                                Cá Sardine Sốt Cà CANFIVI dạng Hộp</a></h3>
                                            <p>You can dream, create, design and build the most wonderful place in the
                                                world.</p>
                                            <a href="service-detail.html" class="site-button site-btn-effect">View
                                                All</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- COLUMNS 4 -->
                                <!--                                <div class="item ">-->
                                <!--                                    <div class="service-box-style2">-->
                                <!--                                        <div class="service-media">-->
                                <!--                                            <img src="/images/home-11/s-gallery/4.jpg" alt="">-->
                                <!--                                        </div>-->
                                <!--                                        <div class="service-content">-->
                                <!--                                            <h3 class="service-title-large"><a href="service-detail.html">interior-->
                                <!--                                                construction</a></h3>-->
                                <!--                                            <p>You can dream, create, design and build the most wonderful place in the-->
                                <!--                                                world.</p>-->
                                <!--                                            <a href="service-detail.html" class="site-button site-btn-effect">View-->
                                <!--                                                All</a>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                &lt;!&ndash; COLUMNS 5 &ndash;&gt;-->
                                <!--                                <div class="item ">-->
                                <!--                                    <div class="service-box-style2">-->
                                <!--                                        <div class="service-media">-->
                                <!--                                            <img src="/images/home-11/s-gallery/5.jpg" alt="">-->
                                <!--                                        </div>-->
                                <!--                                        <div class="service-content">-->
                                <!--                                            <h3 class="service-title-large"><a href="service-detail.html">Mines-->
                                <!--                                                construction</a></h3>-->
                                <!--                                            <p>You can dream, create, design and build the most wonderful place in the-->
                                <!--                                                world.</p>-->
                                <!--                                            <a href="service-detail.html" class="site-button site-btn-effect">View-->
                                <!--                                                All</a>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- SERVICES SECTION END -->
