<!-- CLIENT LOGO SECTION START -->
<div class="section-full bg-gray p-t90 p-b50">
    <div class="container">
        <div class="section-content client-logo2 ">
            <div class="row justify-content-center">
                <div class=" col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media active">
                        <img src="/images/home-11/client-logo/w1.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media">
                        <img src="/images/home-11/client-logo/w2.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media">
                        <img src="/images/home-11/client-logo/w3.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media">
                        <img src="/images/home-11/client-logo/w4.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media">
                        <img src="/images/home-11/client-logo/w5.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media">
                        <img src="/images/home-11/client-logo/w6.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media">
                        <img src="/images/home-11/client-logo/w1.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4  col-sm-4 col-6">
                    <a href="about-1.html" class="wt-img-effect client-logo2-media">
                        <img src="/images/home-11/client-logo/w2.png" alt="">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- CLIENT LOGO  SECTION End -->
