<!-- PRODUCT SECTION START -->
<div class="product-section section pb-100">
    <div class="container">
        <div class="section-title text-center mb-70">
            <h4>Bộ sưu tập</h4>
            <h2>Mới ra mắt</h2>
        </div>
        <div class="product-slider product-slider-4 slick-space">
            <!-- product-item start -->
            <div class="product-item text-center">
                <div class="product-img">
                    <a class="image" href="product-details.html"><img src="/v1/img/product/1.jpg" alt="Image"/></a>
                    <a href="cart.html" class="add-to-cart">Tư vấn</a>
                </div>
                <div class="product-info">
                    <h5 class="title"><a href="product-details.html">Le Parc Minotti Chair</a></h5>
                    <span class="price"><span class="new">137.000.000 VND</span><span class="old">200.000.000 VND</span></span>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="product-item text-center">
                <div class="product-img">
                    <a class="image" href="product-details.html"><img src="/v1/img/product/2.jpg" alt="Image"/></a>
                    <a href="cart.html" class="add-to-cart">Tư vấn</a>
                </div>
                <div class="product-info">
                    <h5 class="title"><a href="product-details.html">DSR Eiffel chair</a></h5>
                    <span class="price"><span class="new">137.000.000 VND</span><span class="old">200.000.000 VND</span></span>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="product-item text-center">
                <div class="product-img">
                    <a class="image" href="product-details.html"><img src="/v1/img/product/3.jpg" alt="Image"/></a>
                    <a href="cart.html" class="add-to-cart">Tư vấn</a>
                </div>
                <div class="product-info">
                    <h5 class="title"><a href="product-details.html">3d laser cut models</a></h5>
                    <span class="price"><span class="new">137.000.000 VND</span><span class="old">200.000.000 VND</span></span>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="product-item text-center">
                <div class="product-img">
                    <a class="image" href="product-details.html"><img src="/v1/img/product/4.jpg" alt="Image"/></a>
                    <a href="cart.html" class="add-to-cart">Tư vấn</a>
                </div>
                <div class="product-info">
                    <h5 class="title"><a href="product-details.html">carl hansen ch25</a></h5>
                    <span class="price"><span class="new">50.000.000 VNĐ</span></span>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="product-item text-center">
                <div class="product-img">
                    <a class="image" href="product-details.html"><img src="/v1/img/product/5.jpg" alt="Image"/></a>
                    <a href="cart.html" class="add-to-cart">Tư vấn</a>
                </div>
                <div class="product-info">
                    <h5 class="title"><a href="product-details.html">DSR Eiffel chair</a></h5>
                    <span class="price"><span class="new">137.000.000 VND</span><span class="old">200.000.000 VND</span></span>
                </div>
            </div>
            <!-- product-item end -->
        </div>
    </div>
</div>
<!-- PRODUCT SECTION END -->
