<!-- SERVICE SECTION START -->
<div class="service-section no-border section pt-70 pb-40">
    <div class="container">
        <div class="row">
            <!-- Single Service -->
            <div class="single-service col-lg-3 col-6 mb-6">
                <div class="service-icon">
                    <i class="pe-7s-home"></i>
                </div>
                <div class="service-title">
                    <h3>1. Khảo sát</h3>
                    <p>Khảo sát hiện trạng công trình</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="single-service col-lg-3 col-6 mb-6">
                <div class="service-icon">
                    <i class="pe-7s-scissors"></i>
                </div>
                <div class="service-title">
                    <h3>2. Tư vấn</h3>
                    <p>Lập kế hoạch, tư vấn thiết kế</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="single-service col-lg-3 col-6 mb-6">
                <div class="service-icon">
                    <i class="pe-7s-tools"></i>
                </div>
                <div class="service-title">
                    <h3>3. Sản xuát & thi công</h3>
                    <p>Bắt đầu quá trình thực thi công trình</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="single-service col-lg-3 col-6 mb-6">
                <div class="service-icon">
                    <i class="pe-7s-arc"></i>
                </div>
                <div class="service-title">
                    <h3>4. Nghiệm thu</h3>
                    <p>Khách hàng đánh giá và nghiệm thu</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SERVICE SECTION END -->
