{{#if homeData.testimonials}}
    <!-- TESTIMONIAL SECTION START -->
    <div class="section">
        <div class="container">
            <div class="testimonial-section pt-100 pb-100">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col-12">
                        <!-- Testimonial Slider -->
                        <div class="testimonial-slider text-center">
                            {{#each homeData.testimonials}}
                                <!-- Single Testimonial -->
                                <div class="single-testimonial">
                                    <img src="{{resourceUrl img.data.attributes.url}}" alt="{{img.data.attributes.name}}">
                                    <p>“{{{nl2br description}}}”</p>
                                    <i class="pe-7s-way"></i>
                                    <h5>{{name}}</h5>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL SECTION END -->
{{/if}}