<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pb-60 pt-100">
    <div class="container">
        <div class="row">
            <!-- Footer Widget -->
            <div class="footer-widget col-lg-6 col-md-6 col-12 mb-8">
                <h4 class="widget-title">Contact Info</h4>
                <p><strong>Địa chỉ :</strong> <span>Cụm 7 thị trấn Phúc Thọ, Huyện Phúc Thọ, Hà Nội</span></p>
                <p><strong>Số điện thoại :</strong> <span>+84 986737 860</span></p>
                <p><strong>Email :</strong> <a href="mailto:thuy290@gmail.com">thuy290@gmail.com</a></p>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget link-widget col-lg-3 col-md-6 col-12 mb-8">
                <h4 class="widget-title">sitemap</h4>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Combo</a></li>
                    <li><a href="#">Sản phẩm</a></li>
                    <li><a href="#">Công trình</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <!-- Footer Widget -->
<!--            <div class="footer-widget col-lg-3 col-md-6 col-12 mb-8">-->
<!--                <h4 class="widget-title">tags</h4>-->
<!--                <div class="tag-cloud fix">-->
<!--                    <a href="shop.html">brand</a>-->
<!--                    <a href="shop.html">fashion</a>-->
<!--                    <a href="shop.html">sale</a>-->
<!--                    <a href="shop.html">winter sale</a>-->
<!--                    <a href="shop.html">summer sale</a>-->
<!--                    <a href="shop.html">men</a>-->
<!--                    <a href="shop.html">women</a>-->
<!--                    <a href="shop.html">kids</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Footer Widget &ndash;&gt;-->
            <div class="footer-widget col-lg-3 col-md-6 col-12 mb-8">
                <h4 class="widget-title">
                    <a href="#"><img src="/v1/img/logo-bhome-white-xs.png" alt="main logo"></a>
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt.</p>
                <!-- Footer Social -->
                <div class="footer-social fix">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.rss.com/" target="_blank" rel="noopener"><i class="fa fa-rss"></i></a>
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER TOP SECTION END -->

<!-- FOOTER BOTTOM SECTION START -->
<div class="footer-bottom-section section pb-20 pt-20">
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="copyright text-center text-md-start col-md-6 col-12">
                <p>© 2022 Furnish. Made with <i class="fa fa-heart heart-icon"></i> By <a target="_blank" href="#">Thongbn</a></p>
            </div>
            <!-- Payment Method -->
            <div class="payment-method text-center text-md-end col-md-6 col-12">
                <a href="shop.html">
                    <img src="/v1/img/payment/1.png" alt="payment" />
                    <img src="/v1/img/payment/2.png" alt="payment" />
                    <img src="/v1/img/payment/3.png" alt="payment" />
                    <img src="/v1/img/payment/4.png" alt="payment" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER BOTTOM SECTION END -->
