<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        {{> Seo}}
        {{> assets/CssAssets}}
    </head>
    <body>
        <div class="wrapper">
            {{> Header}}
            {{{body}}}
            {{> Footer}}
            {{> assets/JsAssets}}
        </div>
    </body>
</html>
